:root {
  --colorWhite: #ffffff;
  --colorSlate300: hsl(210, 12%, 66%);
  --colorSlate500: hsl(216, 15%, 48%);
  --colorSlate900: hsl(218, 44%, 22%);
}

.outfit-WebFont {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400, 700;
  font-style: normal;
}

.qrCodeLoc {
  width: 75%;
  max-width: 500px;
  margin: auto;
  padding: 1rem;

  border-radius: 2em;
  background-color: var(--colorWhite);
  text-align: center;

  img {
    width: 100%;

    border-radius: calc(2em - 10px);
  }
}

.heading {
  width: 80%;
  margin: 15px auto;
  font-family: "Outfit", serif;
  font-weight: bold;
  color: var(--colorSlate900);
  text-align: center;
}

.subtext {
  width: 80%;
  margin: 15px auto;
  font-family: "Outfit", serif;
  color: var(--colorSlate500);
  text-align: center;
}

body {
  background-color: #d5e1ef;
  margin:0;
  align-items: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  min-height: 450px;
  padding-bottom: 1rem;
  padding-top: 2rem;

  p {
    font-size: 15px; 
  }

  
}

.attribution {
  font-size: 1em;
  width: auto;
  margin: 20% auto;
  max-width: 90%;
  font-weight: bolder;
  bottom: 10px;
  color: var(--colorSlate900);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 350px) {

  .heading {  font-size: 1.2rem;}
  .subtext {  font-size: 1rem;}

}

@media (min-width: 420px) {

  .heading {  font-size: 1.5rem;}
  .subtext {  font-size: 1.2rem;}

}


