:root {
  --colorWhite: #ffffff;
  --colorSlate300: hsl(210, 12%, 66%);
  --colorSlate500: hsl(216, 15%, 48%);
  --colorSlate900: hsl(218, 44%, 22%);

  --font-Normal: 400;
  --font-Bold: 700;
  --font-Primary: "Outfit", serif;
}

.qrCodeLoc {
  width: 75%;
  padding: 0.5rem;
  border-radius: 2em;
  background-color: var(--colorWhite);
  text-align: center;

  img {
    width: 100%;
    border-radius: calc(2em - 10px);
  }
}

.heading {
  width: 80%;
  margin: 15px auto;
  font-family: var(--font-Primary);
  font-weight: var(--font-Bold);
  color: var(--colorSlate900);
  text-align: center;
}

.subtext {
  width: 80%;
  margin: 15px auto;
  font-family: var(--font-Primary);
  color: var(--colorSlate500);
  text-align: center;
}

body {
  background-color: #d5e1ef;
  margin:0;
  align-items: center;
  text-align: center;
  min-height: 450px;
  padding-bottom: 1rem;
  padding-top: 2rem;

  p {
    font-size: 15px; 
  }

  
}

.attribution {
  font-size: 1em;
  width: auto;
  margin: .5rem auto;
  max-width: 90%;
  font-weight: bolder;
  color: var(--colorSlate900);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 350px) {

  .heading {  font-size: 1rem;}
  .subtext {  font-size: .8rem;}
  .qrCodeLoc { max-width: 250px; margin: auto;}
  .attribution { max-width: 250px;}

}

@media (min-width: 768px) {

  .heading {  font-size: 1.5rem;}
  .subtext {  font-size: 1.2rem;}
  .qrCodeLoc { max-width: 350px; margin-top: 1rem}
  .attribution { max-width: 350px;}

}


